@model  ProjectSCAM.Models.BatchModel
@{
    ViewData["Title"] = "History";
}

<!DOCTYPE html>
<html>
<head>

    @Styles.Render("~/Content/HistoryStyleSheet.css")
    @Styles.Render("~/Content/UserStyleSheet.css")

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Year', 'Pilsner', 'wheat'],
                ['90%', 10, 25],
                ['10%', 15, 46],
                ['20%', 17, 87],
                ['30%', 21, 88],
                ['40%', 35, 76],
                ['50%', 65, 60],
                ['60%', 55, 40],
                ['70%', 44, 30],
                ['80%', 31, 16],
                ['90%', 19, 9],
                ['100%', 5, -10]
            ]);

            var options = {
                title: 'Optimization',
                curveType: 'function',
                legend: { position: 'bottom' }

            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

            chart.draw(data, options);
        }
    </script>

</head>
<body>

    <div class="grid-container">
        <div class="grid-item item1">
            History <span id="history" class="historyclass"></span>
           
        </div>
        <div class="grid-item item2">

            Batch ID: <span id="yeast" value="100" class="ingredientvalues">@Html.DisplayFor(model => model.Id)</span>&nbsp; &nbsp;
            Accepted products: <span id="hops" value="100" class="ingredientvalues">@Html.DisplayFor(model => model.AcceptableProducts)</span>&nbsp; &nbsp;
            Defect products: <span id="wheat" value="100" class="ingredientvalues">@Html.DisplayFor(model => model.DefectProducts)</span> <br>
            Produced products: <span id="malt" value="100" class="ingredientvalues">@Html.DisplayFor(model => model.ProducedProducts)</span>&nbsp; &nbsp;
            Product type: <span id="barley" value="100" class="ingredientvalues">@Html.DisplayFor(model => model.RecipeName)</span>&nbsp; &nbsp;
            Speed: <span id="malt" value="100" class="ingredientvalues">@Html.DisplayFor(model => model.Speed)</span>
                   <div id="curve_chart" style="width: 900px; height: 500px"></div>


        </div>
        <div class="grid-item item3">
           
            <button type="button" id="tempButton" class="buttons"> Temperature</button> <br> <br>
            <button type="button" id="vibrationButton" class="buttons"> Vibration</button> <br> <br>
            <button type="button" id="humidityButton" class="buttons"> Humidity</button>
        </div>
    </div>






</body>
</html>
