@{
    ViewData["Title"] = "Alarms";
}

<!DOCTYPE html>
<html>
<head>

    @Styles.Render("~/Content/AlarmStyleSheet.css")
    @Styles.Render("~/Content/UserStyleSheet.css")



</head>
<body>

    <div class="grid-container">
        <div class="grid-item item1">
            <div id="ingredients" class="ingredientclass">

                Alarms <span id="alarms" class="alarmsclass"></span>



            </div>
        </div>

        <div class="grid-item item2">
            <div id="alarmInfoFields" class="alarmInfofieldsclass">
                Show alarms by machine:
                <form action="/alarm/getalarmsbymachine" method="get">
                    <select id="machineselect" name="machineId" >
                        <option selected="selected" value"">Select Machine</option>
                        @foreach (var item in ViewBag.Machines) {
                            <option value="@item.Id">@item.Ip</option>
                        }
                    </select>
                    <input type="submit" value="Search by machine"/>
                </form>
                &nbsp;
                Show alarms by date:
                <form action="/alarm/getalarmsbydate" method="get">
                    <input type="text" name="date" />
                    <input type="submit" value="Search by date" />
                </form>
                &nbsp;
                Show alarms by 
                <form action="/alarm/getalarmsbydate" method="get"></form>
                <form>
                    <input type="checkbox" name="unhandledButton" value="unhandled" id="unhandledButton">Unhandled
                </form>
                &nbsp;
            </div>
        </div>
        <div class="grid-item item3">
            <div id="alarmtable" class="alarmtableclass">

                <table class="alarmstableclass" id="alarmstableid">
                    <tr>
                        <th>Alarm ID</th>
                        <th>Batch ID</th>
                        <th>Date/time</th>
                        <th>Stop reason</th>
                        <th>Stop ID</th>
                        <th>Handled by</th>
                        <th>Handler ID</th>
                        <th>Requiring handling</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.BatchId</td>
                            <td>@item.Timestamp</td>
                            <td>@item.StopReason</td>
                            <td>@item.StopReasonId</td>
                            <td>@item.HandlerName</td>
                            <td>@item.HandledBy</td>
                            <td>@item.ActionRequired</td>
                        </tr>
                    }
                </table>
            </div>
        </div>

    </div>


</body>
</html>

