<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SCAMS</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/alarmPopup.css")
    @Scripts.Render("~/bundles/modernizr")
    <script>
        function CheckPopup() {
            $.get("/alarm/Popup", function (data, status) {
                var dat = JSON.parse(data);
                if (dat === true) {
                    $.get("/alarm/GetAlarm", function (data, status) {
                        var json = JSON.parse(data);
                        document.getElementById("modalAlarmId").textContent = json.Id;
                        document.getElementById("modalBatchId").textContent = json.BatchId;
                        document.getElementById("modalTimeStamp").textContent = json.timestamp;
                        document.getElementById("modalMachineId").textContent = json.MachineId;
                        document.getElementById("modalStopReason").textContent = json.StopReason;


                    });
                    var element = document.querySelector(".modal");
                    element.style.display = "inline";
                } else {
                    var element = document.querySelector(".modal");
                    element.style.display = "none";
                };
                }
            )
        };
        function handleAlarm() {
            console.log("oof");
            $.post("/alarm/handle", { command: "oof" });
        };
        setInterval(CheckPopup, 1000);
    </script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SCAMS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Overview", "Index", "Overview")</li>
                    <li>@Html.ActionLink("Machine Selection", "Index", "MachineSelection")</li>
                    <li>@Html.ActionLink("Production", "Index", "Production")</li>
                    <li>@Html.ActionLink("Batches", "Index", "Batch")</li>
                    <li>@Html.ActionLink("Alarms", "Index", "Alarm")</li>
                    <li>@Html.ActionLink("History", "Index", "History")</li>
                    <li>@Html.ActionLink("Optimization", "Index", "Optimization")</li>
                    @*<li>@Html.ActionLink("User Creation", "Index", "UserCreation")</li>
                        <li>@Html.ActionLink("User Management", "Index", "UserManagement")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div id="alarmModal" style="display:none;" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Alarm!</h2>
            </div>
            <div class="modal-body">
                <p>Alarm info:</p>
                <table class="popupstableclass" id="popuptableid">
                    <tr>
                        <th>AlarmID:</th>
                        <th>BatchID:</th>
                        <th>Date/time:</th>
                        <th>Stop reason:</th>
                        <th>MachineID:</th>
                    </tr>
                    <tr>
                        <td><span id="modalAlarmId"></span></td>
                        <td><span id="modalBatchId"></span></td>
                        <td><span id="modalTimeStamp"></span></td>
                        <td><span id="modalStopReason"></span></td>
                        <td><span id="modalMachineId"></span></td>
                    </tr>


                </table>
            </div>
            <div class="modal-footer">
                <button type="button" id="handleButton" onclick="handleAlarm()"class="handleAlarmButton">Handle alarm</button>
            </div>
        </div>

    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SCAMS</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
