@model ProjectSCAM.Models.BatchQueueModel
@{
    ViewData["Title"] = "Production";
}

<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/ProductionStyleSheet.css")
    @Styles.Render("~/Content/dropdown.css")
    @Styles.Render("~/Content/UserStyleSheet.css")
    @Scripts.Render("~/Scripts/productionScript.js")
</head>
<body>
    <div class="grid-container">
        <div class="grid-item item1">
            <div id="insert" class="insetclass">
                @using (Html.BeginForm("Create", "Production", FormMethod.Post)) {
                    @Html.ValidationSummary(true)
                    @Html.AntiForgeryToken()
                <fieldset>
                    <legend>Batchqueue</legend>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Id)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Id)
                        @Html.ValidationMessageFor(model => model.Id)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Priority)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Priority)
                        @Html.ValidationMessageFor(model => model.Priority)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Speed)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Speed)
                        @Html.ValidationMessageFor(model => model.Speed)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Amount)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Amount)
                        @Html.ValidationMessageFor(model => model.Amount)
                    </div>
                    <div class="editor-field">
                        <span>@ViewBag.statusMessage</span>
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.BeerId)
                    </div>
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.BeerId, new SelectList(ViewBag.recipes,"Id","Name" ))
                    </div>
                    <input type="submit" value="Insert into batch queue" />
                </fieldset>
                }
                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
            </div>
            <br><br>
        </div>

        <div class="grid-item item2">
            <div id="batchQueue" class="batchQueueclass">
                <table class="batchtQueueTableClass" id="batchQueueTableid">
                    <tr>
                        <th>ID:</th>
                        <th>Beer Type:</th>
                        <th>Amount:</th>
                        <th>Speed:</th>
                        <th>Priority:</th>
                    </tr>
                    @foreach(var item in ViewBag.batchqueue) {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.RecipeName</td>
                            <td>@item.Amount</td>
                            <td>@item.Speed</td>
                            <td>@item.Priority</td>
                        </tr>
                    }

                </table>
            </div>
        </div>
        <div class="grid-item item3">
            <div id="batchQueue" class="batchQueueclass">
                @using (Html.BeginForm("Update", "Production", FormMethod.Post)) {
                    @Html.ValidationSummary(true)
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <legend>Update batch in queue</legend>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Id)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Id)
                            @Html.ValidationMessageFor(model => model.Id)
                        </div>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Priority)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.Priority)
                            @Html.ValidationMessageFor(model => model.Priority)
                        </div>
                        <br>
              
                        <input type="submit" value="Update priority" />
                    </fieldset>
                }
            </div>
        </div>
    </div>





</body>
</html>
