@{
    ViewData["Title"] = "Login";
}

@model ProjectSCAM.Models.LoginModel
<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/LoginSheet.css")
    @Scripts.Render("~/Scripts/loginScript.js")

</head>
<body>
    <div class="grid-container">


        <div class="grid-item item1">
  <span id="loginHeader">Login</span>
        </div>
        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
        {

            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
        <fieldset>

            <div class="editor-label">
                @Html.LabelFor(model => model.Username)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Username)
                @Html.ValidationMessageFor(model => model.Username)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <br>
            <input type="submit" value="Login"/>
            <br>
        </fieldset>
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
        }
      
    </div>
      
            </div>

</body>
</html>
