@{
    ViewData["Title"] = "Overview";
}

<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<html>

<head>

    @Styles.Render("~/Content/OverviewStyleSheet.css")
    @Styles.Render("~/Content/UserStyleSheet.css")
    @Scripts.Render("~/Scripts/OverviewScript.js")

    <script>
    </script>

</head>
<body>

    <div class="grid-container">
        <div class="grid-item item1">
            <div id="ingredients" class="ingredientclass">

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Yeast: <span id="yeast" class="ingredientvalues"></span>
                Hops: <span id="hops" class="ingredientvalues"></span>
                Wheat: <span id="wheat" class="ingredientvalues"></span>
                Barley: <span id="barley" class="ingredientvalues"></span>
                Malt: <span id="malt" class="ingredientvalues"></span>


            </div>
        </div>
        <div class="grid-item item2">
            Temperature:  <p id="temp"></p>
            Humidity:  <p id="humidity"></p>
            Vibration:  <p id="vibration"></p>
        </div>
        <div class="grid-item item3">
            <div id="infofields" class="infofieldsclass">

                Producing:  <p id="producing"></p>
                Acceptable Products:  <p id="produced"></p>
                Defect Products:  <p id="failed"></p>
                Speed:  <p id="speed"></p>
                Product Type:  <p id="type"></p>
                Machine State:  <p id="state"></p>

            </div>
        </div>
        <div class="grid-item item4">
            <div id="batchqueue" class="batchqueueclass">

                <table class="batchtableclass" id="batchtable">
                    <thead>
                        <tr>
                            <th>ID:</th>
                            <th>Priority:</th>
                            <th>Amount:</th>
                            <th>Speed:</th>
                            <th>Type:</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.BatchQueue) {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Priority</td>
                                <td>@item.Amount</td>
                                <td>@item.Speed</td>
                                <td>@item.RecipeName</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button input type="submit" onclick="refreshBQ()">Refresh</button>
            </div>
        </div>
        <div class="grid-item item5">
            <span>Maintenance:</span>
            <div>
                <span id="progress" class="progressbar"></span>%
            </div>
            <div id="buttons" class="buttonclass">

                <button input type="submit" onclick="machineCommand('start')" id="start" class="buttons"> Start</button> <br>
                <button input type="submit" onclick="machineCommand('stop')" id="stop" class="buttons"> Stop</button> <br>
                <button input type="submit" onclick="machineCommand('clear')" id="clear" class="buttons"> Clear</button> <br>
                <button input type="submit" onclick="machineCommand('abort')" id="abort" class="buttons"> Abort</button> <br>
                <button input type="submit" onclick="machineCommand('reset')" id="reset" class="buttons"> Reset</button>
            </div>
        </div>
    </div>


</body>
</html>
<script>
    function contentLoaded() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Message")',
            dataType: 'json',
            data: { id: '' },
            success: function (data) {
            // set value of ingredient elements
                $("#yeast").text(data.Yeast);
                $("#malt").text(data.Malt);
                $("#hops").text(data.Hops);
                $("#barley").text(data.Barley);
                $("#wheat").text(data.Wheat);
            // set value of batch elements
                $("#produced").text(data.ProcessedProducts);
                $("#failed").text(data.DefectProducts);
                $("#speed").text(data.MachSpeed); // add speed node to monitored items in opc
                $("#type").text(3); // add type node to monitored items in opc
                $("#producing").text(data.AmountToProduce);
            // temp/humidity/vibration
                $("#temp").text(data.TempCurrent);
                $("#humidity").text(data.HumidityCurrent);
                $("#vibration").text(data.VibrationCurrent);
                $("#progress").text(data.MaintenanceCounter);
            // set value of machine element
                $("#state").text(data.StateCurrent);
            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
                alert("StackTrace: " + r.StackTrace);
                alert("ExceptionType: " + r.ExceptionType);
            }
        });
    };
    window.setInterval(contentLoaded, 100);
</script>
