@model ProjectSCAM.Models.MachineModel
@{
    ViewData["Title"] = "Machine Selection";

}


<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/dropdown.css")
    @Scripts.Render("~/Scripts/MachineSelectionScript.js")
</head>
<body>
        <select id="machineselect">
            <option selected="selected" value"">Select Machine</option>
            @foreach (var item in ViewBag.Machines) {
                <option value="@item.Description">@item.Ip</option>
            }
        </select>
        <div class="dropdown-content">

        </div>
        <div class="descriptionBox">
            <button input type="submit" onclick="setMachine()" id="start" class="buttons"> Start</button> <br>
            <span id="description"></span>

        </div>
    <h2>
        Create a machine
    </h2>
    @using (Html.BeginForm("Create", "MachineSelection", FormMethod.Post)) {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        <fieldset>
            <legend>Machine</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.Ip)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Ip)
                @Html.ValidationMessageFor(model => model.Ip)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
            <div class="editor-field">
                <span>@ViewBag.statusMessage</span>
                @Html.HiddenFor(model => model.Id)
            </div>
            <input type="submit" value="Create New Machine" />
        </fieldset>
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>
