@model ProjectSCAM.Models.MachineSelectViewModel
@{
    ViewData["Title"] = "Machine Selection";

}
<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/dropdown.css")

</head>
<script>
    function selectMachine() {
        console.log("fired");
        var machineselect = document.getElementById("machineselect");
        var selected = machineselect.options[machineselect.selectedIndex];
        var span = document.getElementById("description");
        console.log(selected.value);
        console.log(selected.text);
        span.textContent = selected.value;


    }
</script>
<body>
    <div class="dropdown">
        <select id="machineselect" onchange="selectMachine()">
            @foreach (var item in Model.Machines) {
                <option value="@item.Description">@item.Ip</option>
            }
        </select>
        <div class="dropdown-content">

        </div>
        <div class="descriptionBox">
            <span id="description">Please choose a machine</span>

        </div>
    </div>
    <h2>
        Create a machine
    </h2>
    @using (Html.BeginForm("Create", "MachineSelection", FormMethod.Post)) {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        <fieldset>
            <legend>Machine</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.Machine.Ip)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Machine.Ip)
                @Html.ValidationMessageFor(model => model.Machine.Ip)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Machine.Description)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Machine.Description)
                @Html.ValidationMessageFor(model => model.Machine.Description)
            </div>
            <div class="editor-field">
                @Html.HiddenFor(model => model.Machine.Id)
                @Html.HiddenFor(model => model.Machines)
            </div>
            <input type="submit" value="Create New Machine" />
        </fieldset>
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>
