@{
    ViewData["Title"] = "Batches";
}

<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/BatchStyleSheet.css")
    @Styles.Render("~/Content/UserStyleSheet.css")
    @Scripts.Render("~/Scripts/createBatchesScript.js")
</head>
<body>
    <div class="grid-container">
        <div class="grid-item item1">
            <button type="button" id="historyButton" class="buttons"> History</button>
            <br>
            <br>
            <button type="button" id="batchReportButton" class="buttons"> Batch Report</button>
        </div>
        <div class="grid-item item2">
            <div id="searchtable" class="searchclass">

                <table class="searchtableclass" id="searchtableid">
                    <tr>
                        <th>Batch ID</th>
                        <th>Acceptable products</th>
                        <th>Date/time</th>
                        <th>Succeeded</th>
                        <th>OEE </th>
                        <th>Recipe</th>
                        <th>Machine ID</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.AcceptableProducts</td>
                            <td>@item.TimestampEnd</td>
                            <td>@item.Succeeded</td>
                            <td>@item.Oee </td>
                            <td>@item.RecipeName</td>
                            <td>@item.Machine</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="grid-item item3">
            &nbsp;   Search Batch:<br><br>
            &nbsp;  <input type="text" id="idSearchField" title="Batch ID is a number of length 1-10 digits" class="searchFieldClass" onblur="checkBatchID()" placeholder="Batch ID:" /><br><br>
            &nbsp;  <input type="text" id="latestSearchField" title="Search the latest x amount of batches (number)" class="searchFieldClass" onblur="checkLatestBatch()" placeholder="Latest:" /><br><br>
            &nbsp;  <input type="text" id="dateSearchField" title="To be decided" class="searchFieldClass" onblur="checkDateOfBatch()" placeholder="Date:" /><br><br>
            &nbsp;  <input type="text" id="machineSearchField" title="Search by machine ID which is a number" class="searchFieldClass" onblur="checkMachine()" placeholder="Machine:" /><br><br>
            &nbsp;  <input type="text" id="productSearchField" title="Search by beer type which is a number (0 for Pilsner, 1 for Wheat, 2 for IPA, 3 for Stout, 4 for Ale, 5 for Alcohol Free)" class="searchFieldClass" onblur="checkProductType()" placeholder="Product Type:" /><br><br>
            &nbsp;  <button type="submit" id="searchButton" onclick="batchSearch()" class="buttons" class="searchFieldClass"> Search</button>
        </div>

    </div>

</body>
</html>