@{
    ViewData["Title"] = "Batches";
}

<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/BatchStyleSheet.css")
    @Styles.Render("~/Content/UserStyleSheet.css")
    @Scripts.Render("~/Scripts/createBatchesScript.js")
</head>
<body>
    <div class="grid-container">
        <div class="grid-item item1">
            <input type="text" id="BatchId" required class="BatchId" placeholder="Batch ID:" >
            <br>
            <br>
            <button type="button" id="historyButton" onclick ="getHistory()" class="buttons" name="historyButton"> History</button>
            <br>
            <br>
            <button type="button" id="batchReportButton" onclick ="createBatchReport()" class="buttons" name="batchReportButton"> Batch Report</button>
            <br>
            <br>
            <button type="button" id="recallButton"onclick ="getRecall()" class="buttons" name="recallButton"> Recall </button>


        </div>
        <div class="grid-item item2">
            <div id="searchtable" class="searchclass">

                <table class="searchtableclass" id="searchtableid">
                    <tr>
                        <th>Batch ID</th>
                        <th>Acceptable products</th>
                        <th>Date/time</th>
                        <th>Succeeded</th>
                        <th>OEE </th>
                        <th>Recipe</th>
                        <th>Machine ID</th>
                    </tr>
                    @foreach (var item in Model) {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.AcceptableProducts</td>
                            <td>@item.TimestampEnd</td>
                            <td>@item.Succeeded</td>
                            <td>@item.Oee </td>
                            <td>@item.RecipeName</td>
                            <td>@item.Machine</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="grid-item item3">
            &nbsp;   Search Batch:<br><br>
            <form action="/batch/getbatchesbyid" method="get">
                <input type="text" name="id" id="idSearchField" title="Batch ID is a number of length 1-10 digits" class="searchFieldClass" onblur="checkBatchID()" placeholder="Batch ID:" />
                <input type="submit" value="Search by batch id" />
            </form>
            &nbsp;
            
        <form action="/batch/getbatchesbylatest">
            <input type="text" name="latest" title="Search the latest x amount of batches (number)" class="searchFieldClass" onblur="checkLatestBatch()" placeholder="Latest:" />
            <input type="submit" value="Search by latest" />
        </form>
            
            &nbsp;
            <form action="/batch/getbatchesbydate">
                <input type="text" name="date" id="dateSearchField" title="To be decided" class="searchFieldClass" onblur="checkDateOfBatch()" placeholder="Date:" />
                <input type="submit" value="Search by date" />
            </form>
            &nbsp;
            <form action="/batch/getbatchesbymachine">
                <input type="text" name="machineId" id="machineSearchField" title="Search by machine ID which is a number" class="searchFieldClass" onblur="checkMachine()" placeholder="Machine:" />
                <input type="submit" value="Search by machine id" />
            </form>
            &nbsp;
            <form action="/batch/getbatchesbyrecipe">
                <input type="text" name="recipe" id="productSearchField" title="Search by beer type which is a number (0 for Pilsner, 1 for Wheat, 2 for IPA, 3 for Stout, 4 for Ale, 5 for Alcohol Free)" class="searchFieldClass" onblur="checkProductType()" placeholder="Product Type:" />
                <input type="submit" value="Search by beer type" />
            </form>
        </div>

        </div>

    </body>
</html>